header{
    height: 60px;
    width: 100%;
    background-color: rgb(21, 64, 99);

    display: flex;
    align-items: center;
    padding: 0px 40px;
}

.company-name{
    color: white;
    font-size: larger;
    text-decoration: none;
}