.coursesPage-header{
    margin-bottom: 20px;
}

.courses-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.courseCard{
    width: 390px;
    height: 250px;
    overflow: hidden;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}