.course-page{
    display: flex;
}

.course-header{
    margin-bottom: 40px;
}

.course-structure-menu{
    height: calc(100vh - 60px);
    width: 300px;
}

.course-wrapper{
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
}